
// body
body {
  font-family: 'Yu Gothic UI',YuGothic,'Yu Gothic',sans-serif;
  color: $color;

}

h1 {
  font-weight: bold;
  font-size: 68px;
  margin-top: 149px;
}

// button   @extend
 %button1{
   background: $color-bule;
   box-shadow: 0px 3px 6px #00000029;
   border-radius: 12px;
   text-align: center;
   transition: 0.3s ease 0s;
 }

 %button2{
   background: $color-gray;
   box-shadow: 0px 3px 6px #00000029;
   border-radius: 6px;
   text-align: center;
   transition: 0.3s ease 0s;
   padding-top:2px;
 }

 %button3{
   background: $color-red;
   box-shadow: 0px 3px 6px #00000029;
   border-radius: 6px;
   text-align: center;
   transition: 0.3s ease 0s;
   padding-top:2px;
 }

 %button4{
   background: $color-bule ;
   box-shadow: 0px 3px 6px #00000029;
   border-radius: 6px;
   text-align: center;
   transition: 0.3s ease 0s;
   padding-top:2px;
 }

 %button-text {
   color: $color-text;
   display: block;
 }

 //h2

 h2 {
   font-size: 60px;
   color: #333333;
   padding-top: 68px;
 }

 h2 {
   padding-bottom: 44px;
   position: relative;
   display: inline-block;

   &:before {
     content: ' ';
     position: absolute;
     left: 50%;
     bottom: -15px;
     display: inline-block;
     width: 60px;
     height: 5px;
     transform: translateX(-50%);
     background: #3F51B5;
     border-radius: 2px;
   }
 }

 section {
     text-align: center;
   }

//ボタン矢印
   .fab {
     margin-left: 20px;
     vertical-align: middle;
   }
