//変数　出力  $color-foundation   文字列#{}
// color  明るいlighten($color-foundation,30%) 暗いdarken
$color-text: #fff;
$color-gray:#666666 ;
$color-bule:#3F51B5;
$color-red:#E81919;
$color: #333333;
$color-lightgray:#EFEFEF;
$color-light:#6F7579;
$color-light2:#707070;
